header {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #aaa;
  background-image: url('../images/placeimg_1000_284_nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
header > h1 {
	text-shadow:
		-3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ddd;
}

.container {
    padding: 20px;
}

.nav {
  overflow: hidden;
  background-color: white;
  border-bottom: 5px solid lightgreen;
}
.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 75px;
  
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}
.nav .icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#logo {
  width: 169px;
  height: 75px;
  padding-right: 10px;
  display: block;
  cursor: pointer;
}
#logo:hover {
  background-color: #ddd;
}

.left-column {
    float: left;
    width: 40%;
}
.left-column-75 {
  float: left;
  width: 100%;
}
.left-column-post {
  float: left;
  width: 75%;
}
.panel {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  height: 440px;
  border-radius: 25px;
}
.panel-profile {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  height: auto;
  border-radius: 25px;
}
.panel-text {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 440px;
    border-radius: 25px;
}
.panel-img {
  background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 440px;
    border-radius: 25px;
    background-color: lightgreen;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.temp-img-about {
  width: 100%;
  border-radius: 25px;
  background-image: url("../images/placeimg_500_400_nature.jpg");
  background-size: cover;
  height: 400px;
  background-color: black;
}
.temp-img {
  width: 100%;
  border-radius: 25px;
  height: auto;
}

.temp-img-post {
  width: 100%;
  border-radius: 25px;
  background-image: url("../images/placeimg_515_400_any.jpg");
  background-size: cover;
  height: 400px;
  background-color: black;
}

.temp-img-contact {
  width: 100%;
  border-radius: 25px;
  background-image: url("../images/placeimg.jpg");
  background-size: cover;
  height: 400px;
  background-color: black;
}

.right-column {
    float: left;
    width: 60%;
    padding-left: 20px;
}
.right-column-100 {
  float: left;
  width: 100%;
}
.right-column-post {
  float: left;
  width: 25%;
  padding-left: 20px;
}
@media screen and (max-width: 1329px) {
    .left-column, .right-column, .right-column-post, .left-column-post, .left-column-75, .right-column-25 {
        width: 100%;
        padding: 0;
    }
    .panel-text {
      height: auto;
    }
    .panel {
      height: auto;
    }
    .panel-profile {
      height: auto;
    }
}

/* Mobile Version Responsive */
@media screen and (max-width: 451px) {
  .left-column, .right-column, .left-column-75, .right-column-25 {
      width: 100%;
      padding: 0;
  }
  .panel-text {
    height: auto;
    font-size: 8px;
  }
  .panel-img {
    height: 240px;;
  }
  .panel {
    height: auto;
  }
  .panel-profile {
    height: auto;
  }
  #post-img {
    margin: 0px auto;
    width: 100%;
  }
  .temp-img {
    height: auto !important;
  }
  .temp-img-about {
    height: 200px;
  }
  .temp-img-post {
    height: 200px;
  }
  .temp-img-contact {
    height: 200px;
  }
  header > h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 374px) and (max-width: 375px) {
  .profile-img {
    height: 200px !important;
    /* padding-right: 55px; */
  }
  .map {
    height: 200px !important;
    width: 295px !important;
    /* border-radius: 25px !important; */
  }
}

/* Media Creen for profile image on post page for 4 inch screens i.e. iPhone 5s/ SE */
@media screen and (max-width: 320px) and (min-width: 319px) {
  .profile-img {
    height: 200px;
    padding-bottom: 20px;
    padding-right: 0px;
  }
  .map {
    height: 200px !important;
    padding-right: 170px;
    /* border-radius: 25px !important; */
  }
}
/* Media Creen for profile image on post page for iphone 6 +, 7 + etc*/
@media screen and (min-width: 413px) and (max-width: 414px) {
  .profile-img {
    height: 200px !important;
    /* padding-right: 15px; */
  }
  .map {
    height: 200px !important;
    width: 330px !important;
    /* border-radius: 25px !important; */
  }
}

/* Media screen for profile image on post page for Samsung Devices that are 360px wide */
@media screen and (min-width: 359px) and (max-width: 360px) {
  .profile-img, .map {
    height: 200px !important;
    /* padding-right: 68px; */
  }
  .map {
    height: 200px !important;
    width: 345px !important;
    /* border-radius: 25px !important; */
  }

}

/* Media screen for iPads and Tablets */
@media screen and (max-width: 1024px) and (min-width: 1023px) {
  .profile-img {
    height: 300px;
    width: 350px !important;
    text-align: right;
  }
  .right-column-25 {
    width: 50% !important;
  }
  .map {
    height: 400px !important;
    width: 100% !important;
    /* border-radius: 25px !important; */
  }
}
footer {
  padding: 20px;
  text-align: center;
  background: lightgreen;
  margin-top: 20px;
  border: 6px solid white;
}

.profile-img {
  width: 100%;
  margin: 0px auto;
}

.contact-right {
  width: 50%;
  height: 800px;
  background-color: red;
  float: left;
  background-image: url("../images/placeimg_800_800_nature.jpg");
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 230px;
  padding-left: 100px;
  color: white;
}

.contact-left {
  width: 50%;
  height: 800px;
  background-color: white;
  float: right;
  padding: 40px 60px 40px 60px;
}

.box {
  width: 75%;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact-left form > h1 {
  padding: 10px;
  text-align: center;
}

.name-title {
  border-top: solid #aaa 1px;
  border-right: solid #aaa 1px;
  border-left: solid #aaa 1px;
  padding: 15px;
  margin-bottom: 0px;
}

input[type=text] {
  width: 50%;
  float:left;
  padding: 15px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
}
button {
  width: 200px;
  margin: 0px auto;
  height: 50px;
  background-color: rgb(0, 178, 65);
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 15px;

}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#lname {
  border: 1px solid #aaa;
}
#fname {
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.email-title {
  padding: 15px;
  margin-bottom: 0px;
  margin-top: 70px;
  border: 1px solid #aaa;
}

#email {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.subject-title {
  border: 1px solid #aaa;
  padding: 15px;
  margin-top: 70px;
  margin-bottom: 0px;
}

#subject {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.message-title {
  border: 1px solid #aaa;
  padding: 15px;
  margin-top: 70px;
  margin-bottom: -2px;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaa;
  padding: 15px;
  overflow-y: auto;
  resize: none;
}

@media screen and (max-width: 1024px) and (min-width: 1023px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .box {
    width: 85%;
  }
}

@media screen and (max-width: 768px) and (min-width: 767px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .box {
    width: 85%;
  }
}

@media screen and (max-width: 320px) and (min-width: 319px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .box {
    width: 85%;
  }
  #fname {
    width: 100%;
    margin: 0;
    border-right: 1px solid #aaa;
    padding: 8px;
  }
  #lname {
    width: 100%;
    border-top: none;
    padding: 8px;
  }

  .email-title {
    margin-top: 95px;
  }
  .contact-right {
    padding-left: 0px;
  }
  .phone-text > h2 {
  font-size: 17px;
  }
  .phone-text > h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) and (min-width: 413px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .box {
    width: 85%;
    left: auto;
    right: auto;
  }
  #fname {
    width: 100%;
    margin: 0;
    padding: 8px;
    border-right: 1px solid #aaa;
  }
  #lname {
    width: 100%;
    border-top: none;
    padding: 8px;
  }
  .email-title {
    margin-top: 95px;
  }
  .contact-right {
    padding-left: 0px;
  }
}

@media screen and (max-width: 736px) and (min-width: 735px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .contact-right {
    padding-left: 0px;
  }
}

@media screen and (max-width: 375px) and (min-width: 374px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .contact-right {
    padding-left: 0px;
  }
  .box {
    width: 85%;
  }
  #fname {
    width: 100%;
    margin: 0;
    padding: 8px;
    border-right: 1px solid #aaa;
  }
  #lname {
    width: 100%;
    border-top: none;
    padding: 8px;
  }
  .email-title {
    margin-top: 95px;
  }
}

@media screen and (max-width: 667px) and (min-width: 666px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
  }
  .contact-right {
    padding-left: 0px;
  }
}

/* For Laptop SCreens of 1280 x 720 @ 1.5dppx */
@media screen and (max-width: 1280px) and (min-width: 1279px) {
  .box {
    width: 90%;
  }
}

/* For Laptop screen of 1366 x 768 */
@media screen and (max-width: 1366px) and (min-width: 1365px) {
  .box {
    width: 90%;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1439px) {
  .box {
    width: 80%;
    height: 750px auto;
  }
  .contact-left, .contact-right {
    margin-bottom: 50px;
  }
  .panel-profile {
    height: auto !important;
  }
  .map {
    width: 290px !important;
  }
}

/* For all Samsung devices with 260 x 640 */
@media screen and (max-width: 360px) and (min-width: 359px) {
  .contact-right, .contact-left {
    height: auto;
    padding: 20px;
    width: 100%;
    margin: 0;
    float: left;
    
  }
  .contact-right {
    padding-left: 0px;
  }
  .box {
    width: 85%;
  }
  #fname {
    width: 100%;
    margin: 0;
    padding: 8px;
    border-right: 1px solid #aaa;
  }
  #lname {
    width: 100%;
    border-top: none;
    padding: 8px;
  }
  .email-title {
    margin-top: 95px;
  }
}
.map {
  width: 410px;
  height: 400px;
  /* border-radius: 25px; */
}
.phone-text {
  margin-top: -64px;
  margin-left: 120px;
}
.phone-text > h3 {
  color: rgb(0, 173, 95)
}
.fas, .fa-mobile-alt {
  margin-left: 50px;
  margin-top: 0px;
}

.far, .fa-envelope {
  margin-left: 40px;
  margin-top: 10px;
}

.fas, .fa-location-arrow {
  margin-left: 40px;
  margin-top: 10px;
}
